@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:500&display=swap');

.nav-item {
	font-size: 24px;
	font-family: 'Roboto Mono', monospace;
}

input[type=text], input[type=password] {
	font-family: 'Roboto Mono', monospace;
	background-color: #640D14;
	color: #fff;
	border: 0;
	border-radius: 0;
	font-weight: 500;
	width: 100%;
	padding: 16px;
}

input[type=text]:focus, input[type=password]:focus {
	background-color: #002766;
}
